/* Standard stuff */

* {
  margin: 0;
  padding: 0;
  font-family: proxima-nova, "Helvetica", sans-serif;
}

body {
  background-color: #fcd04b;
  text-align: center;
}

a {
  text-decoration: none;
  color: #fcad26;
  font-weight: 700;
}

a:hover {
  color: #f29e0d;
}

/* Top Header */

#header {
  box-sizing: border-box;
  background: #fff;
  height: 130px;
  padding: 30px;
}

h1 {
  font-family: cubano, sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 2.5em;
}

.home-link {
  color: #000;
  display: inline-block;
}

@media only screen and (max-width: 350px) {
  h1 {
    font-size: 2em;
  }
}